@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

.logo {
	width: 75px;
}
header h1, footer h1 {
	color: #c9c983;
	font-family: 'Satisfy', cursive;
	margin-top: 20px;
}
.nav-pills a {
	border: #000000 solid 1px;
}
.nav-pills > li.active > a:hover, .product button:hover {
	color: #5c433f;
	background-color: #eeddcd;
}
.jumbotron_row {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 450px;
}
.jumbotron_row h2 {
	font-family: 'Open Sans';
	font-weight: 300;
	color: #ffffff;
}
.nav li {
	font-size: 15px;
}
li a {
	color: #5c433f;
	border: 1px solid;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
a:hover {
	text-decoration: none;
}
nav {
	top: 20px;
}
.featured {
	margin-bottom: 60px;
}
.product {
	background-color: #eeddcd;
	border-radius: 5%;
	border: 5px solid #ffffff;
}
.img_box {
	margin: 10px 0px;
}
.product button {
	margin-bottom: 10px;
	background-color: #ffffff;
	border: 1px solid #5c433f;
}
aside a, footer{
	background-color: #eeddcd;
}
footer {
	padding-top: 20px;
	max-height: 100%
}
footer a {
	color: #5c433f;
}
footer img {
	width: 75px;
}
.contact_info {
	padding-left: 40px;
	border-right: 1px solid #333333;
	border-left: 1px solid #333333;
}
.social, .contact_info {
	padding-top: 15px;
}
footer, .fine_print {
	margin-top: 10px;
	margin-bottom: 15px;
	color: #333333;
}
@media(max-width: 768px) {
	.centered {
		float: none;
		margin: 0 auto;
	}
	nav {
		padding-top: 0px;
		padding-bottom: 10px;
		top: 5px;
	}
	.social {
		margin: 20px 10px 0px;
	}
	aside {
		margin-bottom: 60px;
	}
}
