@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

.logo {
    width: 35px;
}
header h1 {
    color: #c9c983;
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
}
.nav-pills a {
    border: #000000 solid 1px;
}
.nav-pills > li.active > a {
    color: #5c433f;
    background-color: #eeddcd;
}
.jumbotron {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}
.jumbotron h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #ffffff;
}