@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

.logo {
    width: 35px;
}
.jumbotron {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}
.jumbotron h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #ffffff;
}